* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body,
h1 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}

.keep-shopping i {
  margin-top: 20px;
  margin-right: 10px;
}

a.keep-shopping {
  margin-top: 20px;
  color: #000;
}
