* {
  box-sizing: border-box;
}
body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body,
h1 {
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0;
}
header {
  background: #000;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  background-color: #f5f5f5;
}

a.keep-shopping {
  margin-top: 20px;
  color: #000;
}
